
.row {
    width: 908px;
    margin: 0 auto;
    position: relative;
}

#panel3 {
    background: transparent url(panel3.jpg) no-repeat top left;
    height: 305px;
    width: 903px;
}

#panel5 {
    background: transparent url(panel5.jpg) no-repeat top left;
    height: 556px;
    width: 572px;
}

#row3 div {
    float: left;
}

.bump {
    display: inline-block;
}

.bump5 {
    margin-left: 5px;
}

.bump10 {
    margin-left: 10px;
}


.bubbles {
     position: absolute;
     font-family: Arial;
     font-size: 17px;
     text-transform: uppercase;
 }

#bubble1 {
    position: absolute;
    top: 12px;
    left: 18px;
    font-family: Arial;
    font-size: 16px;
}

#bubble2 {
    top: 13px;
    left: 158px;
    width: 310px;
    font-size: 14px;
}

#bubble3 {
    top: 88px;
    left: 260px;
    font-size: 15px;
    width: 221px;
    line-height: 1;
}

#bubble4 {
    top: 15px;
    right: 250px;
    width: 177px;
    font-size: 15px;
}

#bubble5 {
    top: 15px;
    right: 25px;
    width: 200px;
    font-size: 14px;

}
#bubble6 {
    top: 140px;
    right: 10px;
    width: 175px;
    font-size: 13px;
}

#bubble7 {
    top: 275px;
    right: 7px;
    width: 80px;
    font-size: 14px;
}

#bubble8 {
    top: 10px;
    right: 750px;
    width: 130px;
    font-size: 13px;
}

#bubble9 {
    top: 10px;
    right: 500px;
    width: 150px;
    font-size: 12px;
}

#bubble10 {
    top: 11px;
    right: 70px;
    width: 150px;
    font-size: 13px;
}

#bubble11 {
    top: 245px;
    right: 460px;
    width: 200px;
    font-size: 11px;
}

#bubble12 {
    top: 10px;
    right: 690px;
    width: 200px;
    font-size: 12px;
}

#bubble13 {
    top: 10px;
    right: 350px;
    width: 180px;
    font-size: 13px;
}

#bubble14 {
    top: 10px;
    right: 25px;
    width: 140px;
    font-size: 13px;
}

#bubble15 {
    top: 470px;
    right: 730px;
    width: 170px;
    font-size: 13px;
}
#bubble16 {
    top: 530px;
    right: 510px;
    width: 180px;
    font-size: 14px;
}

#bubble17 {
    top: 400px;
    right: 390px;
    width: 140px;
    font-size: 13px;
}

#bubble18 {
    top: 480px;
    right: 380px;
    width: 150px;
    font-size: 13px;
}

#bubble19 {
    top: 490px;
    right: 100px;
    width: 100px;
    font-size: 15px;
}

